{{! listar-ingresos.hbs }}

<div class="list-container">

    <h1>Ingresos en espera</h1>

    {{#if ingresosDto.length}}
        <table class="table-list">
            <thead>
                <tr>
                    <th>Cuil Paciente</th>
                    <th>Nombre Paciente</th>
                    <th>Nivel Emergencia</th>
                    <th>Hora de llegada</th>
                </tr>
            </thead>

            <tbody>
            {{#each ingresosDto}}
                <tr>
                    <td>{{this.cuil}}</td>
                    <td>{{this.nombreCompleto}}</td>
                    <td>
                      <span class="nivel nivel-{{this.nivelEmergencia}}">
                            {{this.nivelEmergenciaString}}
                      </span>
                    </td>
                    <td>{{this.hora}}</td>
                </tr>
            {{/each}}
            </tbody>

        </table>

    {{else}}
        <div class="alert alert-error">
            No hay ingresos registrados.
        </div>
    {{/if}}

</div>
